$font-color-primary: #e8eaf3;
$font-color-secondary: darken(#fff, 25);
$font-link-primary: #595c67;
$font-link-primary-hover: #8f93a2;
$color-primary: #141824;
$color-secondary: #090b10;

$column-color: #0f111a;
$column-header-background-color: #0c0c10;

$content-warning-background-color: #0a0c13;
$content-warning-background-color: black;
$content-warning-font-color: $font-link-primary-hover;

$default-font-size: 13px;
$small-font-size: 11px;
$btn-primary-color: #444f74;
$btn-primary-color-hover: darken($btn-primary-color, 10);
$btn-primary-font-color: white;
$status-primary-color: #fff;
$status-secondary-color: #4e5572;
$status-links-color: #d9e1e8;
$boost-color : #5098eb;
$favorite-color: #ffc16f;
$bookmarked-color: #ff5050;

// Block dispositions
$scroll-bar-width: 8px;

$stream-selector-height: 30px;
$stream-column-separator: 7px;
$stream-column-width: 320px;
$floating-column-size: 330px;
$avatar-column-space: 70px;

$stream-header-height: 40px;

//Bootstrap cuistomization
$enable-rounded: false;

$separator-color:$color-primary;
$button-size: 30px;
$button-color: darken(white, 30);
$button-color-hover: white;
$button-background-color: $color-primary;
$button-background-color-hover: lighten($color-primary, 20);
$button-border-color: #303957;


$column-background: #0f111a;

$card-border-color: #2b344d;

$context-menu-background: #d9e1e8;
$context-menu-background-hover: #a9c9e6;
$context-menu-font-color: #000000;
$context-menu-border-color: #c0cdd9;

$direct-message-background: #090a0f;


$status-editor-title-background: #a9c9e6;
$status-editor-title-background: #ebebeb;
$status-editor-background: #d9e1e8;
$status-editor-background: #ffffff;
$status-editor-color: #23252c;
$status-editor-color: #14151a;
$status-editor-footer-background: #535c7e;
$status-editor-footer-background: #3e455f;
$status-editor-footer-link-color: #e2e2e2;
$selected-status: #1e2734;

$autosuggest-background: #ffffff;
$autosuggest-entry-background: #3e455f;
$autosuggest-entry-background: #0f111a;
$autosuggest-entry-color: #62667a;
$autosuggest-entry-handle-color: #e2e2e2;
$autosuggest-entry-background-hover: #3e455f;
$autosuggest-entry-background-hover: rgb(37, 41, 56);
$autosuggest-entry-background-hover: rgb(46, 51, 70);
$autosuggest-entry-color-hover: #e2e2e2;
$autosuggest-entry-handle-color-hover: #ffffff;

$scrollbar-color: #08090d;
$scrollbar-color-thumb: lighten($color-primary, 5);

$poll-editor-background: #3e455f;
$poll-editor-background: #32384d;
$poll-editor-background: #fff;

$poll-editor-separator: #e7e7e7;
$poll-editor-input-border: #b9b9b9;
$poll-editor-input-border-focus: #007be0;

$scheduler-background: #3e455f;

$notification-column-selector-background: #171c29;
$notification-column-selector-color: #999fb1;
$notification-column-selector-color-hover: white;

$settings-text-input-background: #242836;
$settings-text-input-foreground: white;
$settings-text-input-border: #32384d;
